html {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

#navbar {
  width: 100%;
  height: 5rem;
  background-color: #f3e4d8;
}

#squareLogo {
  position: absolute;
  left: 5rem;
  top: 2rem;
  z-index: 1;
  width: 10rem;
  height: 10rem;
}

#heroImg {
  left: 0;
  width: 100%;
  height: 40rem;
  z-index: 0;
  object-fit: cover;
}

#heroText1 {
  text-align: left;
  width: 25rem;
  position: absolute;
  color: #ffffff;
  left: 6rem;
  top: 12rem;
  font-size: 3.5rem;
  font-family: 'Caveat', cursive;
}

#heroText2 {
  text-align: left;
  width: 25rem;
  position: absolute;
  color: #ffffff;
  left: 6.5rem;
  top: 16rem;
  font-size: 3.5rem;
  font-family: 'Caveat', cursive;
}

.navbarItems_container {
  display: flex;
}

.navbarItems {
  display: inline-block;
  transform: translate(25rem, 25%);
}

.navbarLink {
  margin: 1rem;
  cursor: pointer;
  padding: 0;
  color: #996132;
}

#checkBookingDatesBtn {
  position: absolute;
  left: 7rem;
  top: 26rem;
  width: 12rem;
  height: 3rem;
  background-color:#996132;
  border: none;
  border-radius: 1rem;
  color: "#ffffff";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s linear .1s growShrink;
  animation-duration: 0.4s;
  animation-iteration-count: 2;
  animation-delay: 2s;
  animation-timing-function: linear;
}

#checkBookingDatesBtn:active{
  background-color: #d49c6e;
}


@keyframes growShrink {
  0% {
    background-color:#996132;
  }
  50%{
    background-color: #d49c6e;
    }
  100%{
    background-color:#996132;
  }
}

.material-symbols-rounded {
  color: "#ffffff"
}

#numOfGuestsSelect_landing {
  margin: 1rem 0 0 0;
  height: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #f3e4d8;
  font-weight: bold;
  color: #613919e7;
}

#gallerySection {
  width: 100%;
  height: 40rem;
}

.galleryGrid {
  display: flex;
  width: 100%;
  height: 80%;
}

.heroGridImg {
  width: 50%;
  height: 100%;
  margin: 5rem 0 0 2rem;
}

.sideGridImgs {
  width: 50%;
  height: 100%;
  display: flex;
  margin: 5rem 2rem 0 0;
}

.sideGridImgsTop {
  width: 100%;
  height: 50%;
}

.sideGridImgsBottom {
  width: 100%;
  height: 50%;
}

.subGridImg {
  width: 100%;
  height: 100%;
}

.galleryImgHero {
  width: 95%;
  height: 95%;
  border-radius: 1rem;
  object-fit: cover;
}

.galleryImg {
  width: 90%;
  height: 90%;
  border-radius: 1rem;
  object-fit: cover;
}

#propertyInfo {
  display: flex;
}

.amenItem {
  display: flex;
  justify-content: left;
  align-items: center;
}

.material-symbols-outlined {
  margin: 0.5rem;
}

.amenBlocks {
  display: flex;
  justify-content: left;
  align-items: top;
}

.amenBlockLeft,
.amenBlockRight {
  margin: 2rem;
}

.amenList {
  text-align: left;
  margin: 0 0 0 10rem;
}

.amenContent {
  width: 45rem;
  margin: 0 0 0 5rem;
}

.leaf3Img {
  position: absolute;
  right: -5rem;
  width: 32rem;
  height: 30rem;
  z-index: -1;
}

.testimonial-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.testimonial {
  max-width: 80%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}

.slideBtns {
  display: flex;
}

.prevBtn,
.nextBtn {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.prevBtn:active,
.nextBtn:active {
  background-color: #f9d4b5;
  color: #ffffff;
}

.testimonialCard {
  font-size: 1.5rem;
  width: 50rem;
  height: 15rem;
  background-color: #f3e4d8;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #996132;
  margin: 5rem 0 0 0;
}

.quoteSymbol {
  position: absolute;
  opacity: 0.3;
  width: 10rem;
  left: 16rem;
  margin: 8rem 0 12rem 0;
}

.bookNowBtnLanding {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #d49c6e;
  color: #ffffff;
  cursor: pointer;
  margin: 3rem;
  z-index: 1;
  text-decoration: none;
}

.bookNowBtnLanding:active {
  background-color: #ecd3be;
  color: #996132;
}

.bookNowBtnLanding:hover {
  box-shadow: 0px 0px 10px 5px #ecd3be;
  transition-duration: 0.5s;
}

#bookNowSection {
  margin: 15rem 20rem 6rem 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookNowText {
  width: 40rem;
  z-index: 1;
  font-size: 2rem;
  color: #996132;
  font-family: 'Caveat', cursive;
}

#map {
  height: 20rem;
}

#footer {
  width: 100%;
  height: 30rem;
  background-color: #f3e4d8;
}

.partnerLogoItem {
  margin: 1rem;
}

.footerDivider {
  width: 80%;
  border: 1px solid #e9ba93;
}

.leavesDecor {
  width: 100%;
  height: 35rem;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}

.smallLogo{
  position: absolute;
  left: 5rem;
  margin: 13rem 0 0 0;
  width: 5rem;
  height: 5rem;
}

.footerContent{
  display: flex;
  width: 70rem;
  height: 15rem;
  margin: 2rem 0 0 20rem;
}

.socialMedia{
  width: 17.5rem;
  height: 20rem;
}

.usefulLinks{
  width: 17.5rem;
  height: 20rem;
}

.newsletter{
  width: 35rem;
  height: 20rem;
}

.socialItem{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

.socialItem:hover{
  cursor: pointer;
}

#newsletterEmailInput{
  border: none;
  border-radius: 0.5rem;
  width: 15rem;
  height: 2rem;
  padding: 0.5rem;
}

.joinNewsletterBtn{
  border: none;
  border-radius: 0.5rem;
  width: 5rem;
  height: 3rem;
  margin: 0 0 0 0.5rem;
  background-color: #d49c6e;
  color: #ffffff;
}

.joinNewsletterBtn:hover{
  cursor: pointer;
}

.joinNewsletterBtn:active{
  background-color: #996132;
}

.dateInputsContainer{
  width: 40rem;
  height: 7rem;
  background-color: #f3e4d8;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 0 2rem 0 2rem;
}

.checkAvailBtn{
  width: 7rem;
  height: 2rem;
  border: none;
  background-color: #d49c6e;
  color: #ffffff;
  outline: none;
  border-radius: 0.5rem;
}

.checkAvailBtn:hover{
  cursor: pointer;
}

.checkAvailBtn:active{
  background-color: #5c3a1e;
}

.checkAvailBtn:disabled{
  background-color: #d5d5d5;
  color: #838383;
  opacity: 0.5;
  cursor: default;
}

#bookingsPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.displayRooms{
  width: 80rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.availRooms{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectedRooms{
  width: 95%;
  height: 6rem;
  position: fixed;
  bottom: 0;
  background-color: #efc9aa;
  border-radius: 1rem;
  margin: 1rem;
  z-index: 5;
  display: flex;
  justify-content: left;
  align-items: center;
}

.yourStayTitle{
  position: absolute;
  top: 0.5rem;
  left: 1rem
}

.roomDetails{
  position: relative;
  width: 60rem;
  height: 30rem;
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selectRoomBtn{
  width: 50rem;
  height: 3rem;
  position: absolute;
  bottom: 2rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  background-color: #efc9aa;
  color: #996132;
  font-weight: bold;
  font-size: 1rem;
}

.selectRoomBtn:hover{
  cursor: pointer;
}

.selectRoomBtn:disabled{
  background-color: #d5d5d5;
  color: #838383;
  opacity: 0.5;
  cursor: default;
}

.totalRoomAmountTitle_bookingPage{
    position: absolute;
    right: 17.6rem;
    top: 0.5rem;
    color: #996132;
    font-weight: bold;
}

.totalRoomAmount_bookingPage{
  position: absolute;
  right: 15rem;
  top: 2rem;
  font-weight: bold;
  color: #996132;
}

.reviewBookingBtn{
  position: absolute;
  right: 5rem;
  background-color: #bb8456;
  color: #ffffff;
  outline: none;
  border: none;
  width: 7rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.reviewBookingBtn:hover{
  cursor: pointer;
}

.reviewBookingBtn:active{
  background-color: #d49c6e;
}

.divider{
  width: 80%;
  border: 1px solid #e9ba93;
}

.bookingHero{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0rem;
  z-index: -10;
  object-fit: cover;
}

.booking-content{ 
  width: 60rem;
  text-align: left;
  margin: 0 0 5rem 0;
}

.bookingPageTitleContent{
  width: 50rem;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  margin: 0;
  color: #996132;
}

.bookingPageTitle{
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  margin: 3rem 0 0 0;
  color: #d49c6e;
}