html {
  overflow-x: hidden;
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  width: 100%;
  height: 5rem;
  background-color: #f3e4d8;
}

#squareLogo {
  position: absolute;
  left: 5rem;
  top: 2rem;
  z-index: 1;
  width: 10rem;
  height: 10rem;
}

#heroImg {
  left: 0;
  width: 100%;
  height: 42rem;
  z-index: 0;
  object-fit: cover;
}

#checkBookingDatesBtn {
  position: absolute;
  left: 7rem;
  top: 26rem;
  width: 12rem;
  height: 3rem;
  background-color: #996132;
  border: none;
  border-radius: 1rem;
  color: "#ffffff";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s linear .1s flash;
  animation-duration: 0.4s;
  animation-iteration-count: 2;
  animation-delay: 2s;
  animation-timing-function: linear;
}

#heroText1 {
  text-align: left;
  width: 25rem;
  position: absolute;
  color: #ffffff;
  left: 6rem;
  top: 12rem;
  font-size: 3.5rem;
  font-family: 'Caveat', cursive;
}

#heroText2 {
  text-align: left;
  width: 25rem;
  position: absolute;
  color: #ffffff;
  left: 6.5rem;
  top: 16rem;
  font-size: 3.5rem;
  font-family: 'Caveat', cursive;
}

.navbarItems_container {
  display: flex;
}

.navbarItems {
  display: inline-block;
  transform: translate(25rem, 25%);
}

.navbarLink {
  margin: 1rem;
  cursor: pointer;
  padding: 0;
  color: #996132;
}

@keyframes flash {
  0% {
    background-color: #996132;
  }

  50% {
    background-color: #d49c6e;
  }

  100% {
    background-color: #996132;
  }
}

.material-symbols-rounded {
  color: "#ffffff"
}

#numOfGuestsSelect_landing {
  margin: 1rem 0 0 0;
  height: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #f3e4d8;
  font-weight: bold;
  color: #613919e7;
}

#gallerySection {
  width: 100%;
  height: 40rem;
  margin: 5rem 0 5rem 0;
}

.galleryGrid {
  display: flex;
  width: 100%;
  height: 80%;
}

.heroGridImg {
  width: 50%;
  height: 100%;
  margin: 3rem 0 0 2rem;
}

.sideGridImgs {
  width: 50%;
  height: 100%;
  display: flex;
  margin: 3rem 2rem 0 0;
}

.sideGridImgsTop {
  width: 100%;
  height: 50%;
}

.sideGridImgsBottom {
  width: 100%;
  height: 50%;
}

.subGridImg {
  width: 100%;
  height: 100%;
}

.galleryImgHero {
  width: 95%;
  height: 95%;
  border-radius: 1rem;
  object-fit: cover;
}

.galleryImg {
  width: 90%;
  height: 90%;
  border-radius: 1rem;
  object-fit: cover;
}

#propertyInfo {
  display: flex;
}

.amenItem {
  display: flex;
  justify-content: left;
  align-items: center;
}

.material-symbols-outlined {
  margin: 0.5rem;
}

.amenBlocks {
  display: flex;
  justify-content: left;
  align-items: top;
}

.amenBlockLeft,
.amenBlockRight {
  margin: 2rem;
}

.amenList {
  text-align: left;
  margin: 0 0 0 10rem;
}

.amenContent {
  width: 45rem;
  margin: 0 0 0 5rem;
}

.leaf3Img {
  position: absolute;
  right: -3rem;
  width: 30rem;
  height: 28rem;
  z-index: -1;
  opacity: 0.15;
  margin: 0 0 2rem 0;
}

.testimonial-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.testimonial {
  max-width: 80%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}

.slideBtns {
  display: flex;
}

.prevBtn,
.nextBtn {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.prevBtn:active,
.nextBtn:active {
  background-color: #f9d4b5;
  color: #ffffff;
}

.testimonialCard {
  font-size: 1.5rem;
  width: 50rem;
  height: 15rem;
  background-color: #f3e4d8;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #996132;
  margin: 5rem 0 0 0;
}

.quoteSymbol {
  position: absolute;
  opacity: 0.3;
  width: 10rem;
  left: 16rem;
  margin: 8rem 0 12rem 0;
}

.bookNowBtnLanding {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #d49c6e;
  color: #ffffff;
  cursor: pointer;
  margin: 3rem;
  z-index: 1;
  text-decoration: none;
}

.bookNowBtnLanding:active {
  background-color: #ecd3be;
  color: #996132;
}

.bookNowBtnLanding:hover {
  box-shadow: 0px 0px 10px 5px #ecd3be;
  transition-duration: 0.5s;
}

#bookNowSection {
  margin: 15rem 20rem 6rem 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookNowText {
  width: 40rem;
  z-index: 1;
  font-size: 2rem;
  color: #996132;
  font-family: 'Caveat', cursive;
}

#map {
  width: 100%;
  height: 20rem;
}

#mapContact {
  width: 60%;
  height: 30rem;
  border-radius: 2rem;
}

.map-overlay {
  position: absolute;
  top: 2rem;
  /* Adjust as needed */
  left: 5rem;
  /* Adjust as needed */
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  z-index: 500;
}

#footer {
  width: 100%;
  height: 25rem;
  background-color: #f3e4d8;
}

.partnerLogoItem {
  margin: 1rem;
}

.footerDivider {
  width: 80%;
  border: 1px solid #e9ba93;
}

.leavesDecor {
  width: 100%;
  height: 35rem;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}

.smallLogo {
  position: absolute;
  left: 5rem;
  margin: 10rem 0 0 0;
  width: 5rem;
  height: 5rem;
}

.footerContent {
  display: flex;
  width: 70rem;
  height: 11rem;
  margin: 2rem 0 0 20rem;
}

.usefulLinks {
  width: 25rem;
  height: 8rem;
}

.newsletter {
  width: 35rem;
  height: 7rem;
  margin: 0 0 0 10rem;
}

#newsletterEmailInput {
  border: none;
  border-radius: 0.5rem;
  width: 15rem;
  height: 2rem;
  padding: 0.5rem;
}

.joinNewsletterBtn {
  border: none;
  border-radius: 0.5rem;
  width: 5rem;
  height: 3rem;
  margin: 0 0 0 0.5rem;
  background-color: #d49c6e;
  color: #ffffff;
}

.joinNewsletterBtn:hover {
  cursor: pointer;
}

.joinNewsletterBtn:active {
  background-color: #996132;
}

#bookingsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.divider {
  width: 80%;
  border: 1px solid #e9ba93;
}

.bookingHero {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0rem;
  z-index: -10;
  object-fit: cover;
}

.booking-content {
  width: 60rem;
  text-align: left;
  margin: 0 0 5rem 0;
}

.bookingPageTitleContent {
  width: 50rem;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  margin: 0;
  color: #d49c6e;
}

.bookingPageTitle {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  margin: 8rem 0 0 0;
  color: #996132;
}

#aboutUsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUsSection {
  width: 60rem;
  text-align: left;
  margin: 3rem 15rem 8rem 15rem;
}

.aboutUsContent-container {
  width: 35rem;
  float: right;
}

.aboutUsContent {
  margin: 3rem 0 0 0;
}

#bookStayBtn {
  width: 18rem;
  height: 3rem;
  background-color: #996132;
  border: none;
  border-radius: 1rem;
  color: "#ffffff";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5rem 0;
}

#contactUsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactCardsContainer {
  width: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.callUsCard,
.reachUsCard {
  width: 30rem;
  height: 25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
  margin: 2rem;
  border-radius: 1rem;
}

.help-supportCard {
  width: 30rem;
  height: 30rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
  border-radius: 1rem;
}

#whatsappUsBtn {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.8rem;
  background-color: #25D366;
  color: #ffffff;
  border: none;
  outline: none;
}

#whatsappUsBtn:hover {
  cursor: pointer;
}

.contactItem {
  display: flex;
  justify-content: left;
  align-items: center;
}



/*Booking Functionality Styling*/

#bookingDashboard {
  width: 90%;
  display: flex;
  margin: 8rem 3rem 3rem 3rem;
}

#dashboard-main {
  width: 70%;
  margin: 2rem;
}

#room-selection-cart {
  width: 30%;
  height: 31rem;
  border: solid 1px #f3e4d8;
  border-radius: 1rem 0 0 1rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

#checkInDateInput-cart {
  position: absolute;
  top: 13rem;
  right: 21rem;
  border: solid 1px #d49c6e;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  border-radius: 0.5rem;
}

#checkInDateInput-cart-label {
  position: absolute;
  top: 11.5rem;
  right: 24.5rem;
}

#checkOutDateInput-cart {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 13rem;
  right: 7rem;
  border: solid 1px #d49c6e;
  padding: 1rem;
  border-radius: 0.5rem;
}

#checkOutDateInput-cart-label {
  position: absolute;
  top: 11.5rem;
  right: 8.8rem;
}

.default {
  /* Default background color and other styles */
  background-color: #ffffff;
  border: solid 1px #d49c6e;
  border-radius: 1rem;
  width: 100%;
  margin: 0 0 1rem 0;
}

.editing {
  background-color: #f3e4d8;
  /* Example highlight color */
  /* Additional styles for editing state if needed */
  border: solid 1px #d49c6e;
  border-radius: 1rem;
  width: 100%;
  margin: 0 0 1rem 0;
}

#delete-booking-btn {
  margin: 1rem;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#room-selection-list-container {
  display: flex;
  flex-direction: column;
}

#room-selection-list {
  width: 100%;
}

.classicBtn {
  background-color: #d49c6e;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.classicBtn:hover {
  cursor: pointer;
}

.classicBtn:active {
  background-color: #996132;
}

.classicBtn:disabled {
  background-color: #d3d3d3;
  color: #ffffff;
}

#save-changes-btn {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 17rem;
  right: 7rem;
  width: 24rem;
  height: 2.3rem;
}

#guest-details-input-container {
  display: inline-block;
  width: 100%;
  height: 35rem;
  display: none;
  color: #996132;
  background-color: #f3e4d8;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guest-details-input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guest-input-item1 {
  width: 20rem;
  height: 2.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0.5rem 0 0.5rem;
}

.guest-input-item-email{
  width: 20rem;
  height: 2.5rem;
  margin: 1rem 1rem 0.3rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0.5rem 0 0.5rem;
}

.spReqInput {
  width: 20rem;
  height: 3rem;
  resize: none;
  margin: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

#room-details-container {
  width: 90%;
  height: 29rem;
  border-radius: 1rem;
  background-color: #f3e4d8;
  color: #996132;
  margin: 0 0 2rem 0;
  padding: 2rem;
}

.room-details-content {
  display: flex;
}

#add-room-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  background-color: #d49c6e;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#add-room-btn:hover {
  cursor: pointer;
}

#add-room-btn:active {
  background-color: #996132;
}

#edit-booking-btn {
  margin: 1rem;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-room-to-cart-btn {
  width: 80%;
  margin: 15rem 0 0 0;
}

#book-room-btn {
  width: 10rem;
  height: 2.5rem;
  display: inline-block;
}

#confirm-booking-btn {
  width: 12rem;
  height: 2.5rem;
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Responsive Design Code */
@media only screen and (max-width: 1024px) {
  #navbar {
    width: 100%;
    height: 2rem;
  }

}

@media only screen and (max-width: 480px) {}